# QUESTION 1

Solution : 

In question 1, variable 'a' is defined as a global variable. 

During the first function call i.e b(), the value of a will be '2'(i.e 0+2). 
For the second function call, the value of a will be '4' (i.e 2+2).
For the third function call, value of a will be 6 (i.e 4+2).

Now the value of a is 6. So it will display 6 when value of a is evaluated.

In [10]:
a = 0;
def b():
    global a;
    a = c(a);
def c(a):
    return a + 2;

b()
b()
b()
a

6

# QUESTION 2

Note: Modified the file_length() function given by adding a try-except block.

In [2]:
def file_length(file_name):
    try:
        file = open(file_name);
        contents = file.read();
        file.close();
        print(len(contents));
    except:
        print("File "+file_name+" not found.");
        
if __name__ == '__main__':
    file_length("midterm.py");
    file_length("idterm.py");

358
File idterm.py not found.

# QUESTION 3

In [11]:
# Marsupial class - parent class
class Marsupial:                    
    def __init__(self):      
        self.itemList=[] ;                  
             
    def put_in_pouch(self,collections):  
        self.itemList.append(collections);
        
    def pouch_contents(self):           
        return self.itemList;
    
# Child class
class Kangaroo(Marsupial):        
    def __init__(self,x,y):              
        super().__init__()     
        self.dx = 0;                    
        self.dy = 0;                     
    
    def jump(self,x,y):                 
        self.dx = self.dx + x;   
        self.dy = self.dy + y;
    
    def __str__(self):          
         return ('I am a Kangaroo located at coordinates ('+str(self.dx)+','+str(self.dy)+')');

In [12]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
k = Kangaroo(0,0);
print(k);
k.put_in_pouch('doll');
k.put_in_pouch('firetruck');
k.put_in_pouch('kitten');
k.pouch_contents();
k.jump(1,0);
k.jump(1,0);
k.jump(1,0);
print(k);

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4

In [13]:
def collatz(x):
    if(x == 1):
            print(x);
    else:
        print(x);
        if(x%2 == 0):
            x //= 2;
            collatz(x) ;
        else:
            x= (3*x) + 1;
            collatz(x);
            
            
if __name__ == '__main__':
    collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

In [15]:
def binary(num):
    if(num == 0):
        return 0;
    else :
        return (num % 2 + 10 * binary(num // 2));

In [16]:
binary(0)

0

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

# QUESTION 6

In [ ]:
from html.parser import HTMLParser
class HeadingParser(): 
    a = b = 'False';
    def handle_starttag(self, tag, attrs):
        
    def handle_endtag(self, tag):
      
    def handle_data(self, data):
       
    
    
if __name__ == '__main__':
    infile = open('w3c.html');
    content = infile.read();
    infile.close();
    hp = HeadingParser();
    hp.feed(content);

# QUESTION 7

In [ ]:
from html.parser import HTMLParser
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0);

# QUESTION 8

Note: Reference link - https://www.digitalocean.com/community/tutorials/how-to-use-the-sqlite3-module-in-python-3

In [20]:
import sqlite3;
conn = sqlite3.connect('weatherdata.db');
# Create table weather
conn.execute('''
CREATE TABLE IF NOT EXISTS weather(city string, 
                      country string, 
                      season string, 
                      temperature integer,
                      rainfall integer);''');
conn.commit();
cursor = conn.cursor();
# Entering values into eac row in the table weather
conn.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);");
conn.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);");
conn.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);");
conn.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);");
conn.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);");
conn.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );");
conn.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);");
conn.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);");
conn.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);");
conn.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);");
conn.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);");
conn.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);");

print("a. All the temperature data.");
output = cursor.execute("SELECT temperature from weather").fetchall();             
for i in output:
    print(i);
print("\n");

print("b. All the cities, but without repetition.");
output = cursor.execute("SELECT DISTINCT(city) from weather").fetchall();
for i in output:                         
    print(i);
print("\n");

print("c. All the records for India.");
output = cursor.execute("SELECT * from weather WHERE country = 'India'").fetchall();
for i in output:                            
    print(i);
print("\n");

print("d. All the Fall records.");
output = cursor.execute("SELECT * from weather WHERE season = 'Fall'").fetchall();
for i in output:                            
    print(i);
print("\n");

print("e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.");
output = cursor.execute("SELECT city,country,season from weather WHERE rainfall BETWEEN 200 and 400").fetchall();
for i in output:                                
    print(i);
print("\n");

print("f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.");
output = cursor.execute("SELECT city,country from weather WHERE (season = 'Fall' and temperature > 20) Order BY temperature ASC ").fetchall();
for i in output:                             
    print(i);
print("\n");

print("g. The total annual rainfall for Cairo.");
output = cursor.execute("SELECT SUM(rainfall) from weather WHERE city = 'Cairo'").fetchall();
for i in output:
    print(i); 
print("\n");

print("h. The total rainfall for each season.");
output = cursor.execute("SELECT season, SUM(rainfall) from weather GROUP BY season").fetchall();
for i in output:                                
    print(i);

conn.close();

a. All the temperature data.
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)


b. All the cities, but without repetition.
('Mumbai',)
('London',)
('Cairo',)


c. All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)


d. All the Fall records.
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)


e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')


f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
('Cairo', 'Egypt')
('Mumbai', 'India')


g. The total annual rainfall for Cairo.
(27.6,)


h. The total rainfall for each season.
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# QUESTION 9

Note: Reference link - https://medium.com/@gilwellm/ho-to-convert-a-list-into-upper-or-lowercase-in-python-3-f2c4bbb71e5a

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'];
print("List of words in upper case: ");
upperList = [a.upper() for a in words];
print(upperList);
print("\n");
print("List of words in lower case: ");
lowerList = [a.lower() for a in words];
print(lowerList);
print("\n");
print("Length of words in the list: ");
length = [len(a) for a in words];
print(length);
print("\n");
print("List of words in upper case, lower case and length of words in a separate list: ");
word_List1 = [[a.upper(), a.lower(), len(a)]for a in words];
print(word_List1);
print("\n");
print("The list of words in list words containing 4 or more characters ");
words_List2 = [a for a in words if len(a) >= 4];
print(words_List2);

List of words in upper case:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


List of words in lower case:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


Length of words in the list:
[3, 5, 5, 3, 5, 4, 3, 4, 3]


List of words in upper case, lower case and length of words in a separate list:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


The list of words in list words containing 4 or more characters
['quick', 'brown', 'jumps', 'over', 'lazy']